<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Logxstar\Integration\Observer\SalesOrderPlaceAfterObserver" type="Boostsales\PartialShipment\Observer\Logxstar\SalesOrderPlaceAfterObserver"/>
</config>
